/* @theme d8niz */

@import "default";

section {
  background-color: #fff;
  color: #000;
  background-image: url("../assets/eteration-logo-dark.png");
  background-repeat: no-repeat;
  background-position: right 40px top 40px;
  background-size: 8%;
}

section.lead {
  background-image: url("../assets/academy.jpg");
  background-position: right;
  background-size: 60%;
}

section h1,
section a,
section footer,
section::after {
  color: #000;
}

section a {
  color: #ff6600;
}

section.invert {
  background-color: #212121;
  color: #fff;
  background-image: url("../assets/eteration-logo-light.png");
}

section.lead.invert {
  background-image: url("");
  background-size: 100%;
}

section.invert h1,
section.invert footer,
section.invert::after {
  color: #fff;
}

section.invert a {
  color: #e37222;
}

/* Add "Page" prefix and total page number */
section::after {
  content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
}
